## esclude all ##
/*

## home files ##
!README.md
!LICENSE.md
!.gitignore
!.profile
!.pam_environment
!.bashrc
#!.bash_aliases (some private info)
!.bash_profile
!.grc.bashrc
!.zshrc
!.jackdrc
!.tmux.conf
!.vimrc
!.xbindkeysrc
!.xinitrc
!frayoshi-vars.sh
!JACK-patch-new.xml

## dirs ##
!.conky/
.conky/*
!.conky/conky-startup.sh
!.conky/Titus.conkyrc
!.conky/conky.conkyrc

!.nuke/
.nuke/*
!.nuke/init.py
!.nuke/menu.py
!.nuke/preferences*
!.nuke/shortcuteditor.py
!.nuke/shortcuteditor_settings.json
!.nuke/FileChooser_Favorites.pref
!.nuke/Workspaces

!.projectM/
.projectM/*
!.projectM/config.inp

!.psensor/
.psensor/*
!.psensor/psensor.cfg

!.pulse/
.pulse/*
!.pulse/client.conf
!.pulse/daemon.conf
!.pulse/default.pa

!.vnc/
.vnc/*
!.vnc/default.tigervnc
!.vnc/xstartup

!.xournalpp/
.xournalpp/*
!.xournalpp/settings.xml

!bin/
bin/*
!bin/fura-utils/
!bin/mount/
!bin/rclone/
!bin/scripts/
!bin/certbot-renew.sh
!bin/GSTA.sh
!bin/GSTO.sh
!bin/iommu-check.sh
!bin/JACK-pulse.sh
!bin/JSTART.sh
!bin/limit.sh
!bin/MOUSE.sh
!bin/MOUSE-RESET.sh
!bin/pacwall.sh
!bin/reset-buttons.sh
!bin/scopes.sh
!bin/zeronet-conservancy.sh


## emacs ##
!.emacs.d
.emacs.d/*
!.emacs.d/.stignore
!.emacs.d/init.el
!.emacs.d/bookmarks
!.emacs.d/configuration.org

!.emacs.d/eshell/
.emacs.d/eshell/*
!.emacs.d/eshell/alias


## config ##
!.config/
.config/*

!.config/.stignore
!.config/alacritty.yml
!.config/baloofilerc
!.config/conky-manager.json
!.config/kdeglobals
!.config/kiorc
!.config/kritadisplayrc
!.config/kritarc
!.config/kritashortcutsrc
!.config/mimeapps.list
!.config/plasma-localerc
!.config/plasma-org.kde.plasma.desktop-appletsrc
!.config/starship.toml
!.config/user-dirs.dirs
!.config/user-dirs.locale
!.config/yt-dlp.conf

!.config/flameshot/
!.config/furayoshi/
!.config/glava/
!.config/gnuplot/
!.config/gtk-2.0/
!.config/gtk-3.0/
!.config/gtk-4.0/
!.config/INRIA/
!.config/InSilmaril/
!.config/jack/
!.config/JACK/
.config/JACK/*
!.config/JACK/desk/
.config/JACK/desk/patcha.xml
!.config/jack_mixer/
!.config/kazam/
!.config/key-mon/
!.config/Mousepad/
!.config/neofetch/
!.config/paru/
!.config/pavucontrol-qt/
!.config/ristretto/
!.config/syncthing-gtk/
!.config/tumbler/
!.config/viewnior/
!.config/youtube-viewer/

!.config/ardour6/
.config/ardour6/*
!.config/ardour6/config
!.config/ardour6/ui_config

!.config/fcitx/
.config/fcitx/*
!.config/fcitx/config
!.config/fcitx/profile
!.config/fcitx/conf/

!.config/fish/
.config/fish/*
!.config/fish/config.fish
!.config/fish/fish.conf
!.config/fish/fish_variables
!.config/fish/functions/

!.config/inkscape/
.config/inkscape/*
!.config/inkscape/preferences.xml
!.config/inkscape/templates/

!.config/mpv/
.config/mpv/watch_later

!.config/olivevideoeditor.org/
!.config/olivevideoeditor.org/Olive/
.config/olivevideoeditor.org/Olive/*
!.config/olivevideoeditor.org/Olive/config.xml
!.config/olivevideoeditor.org/Olive/shortcuts

!.config/screengrab/
.config/screengrab/*
!.config/screengrab/screengrab.conf

!.config/systemd/
!.config/systemd/user/
.config/systemd/user/default.target.wants/
.config/systemd/user/pipewire.service.wants/
.config/systemd/user/sockets.target.wants/

!.config/Thunar/
.config/Thunar/*
!.config/Thunar/accels.scm
!.config/Thunar/uca.xml

!.config/xfce4/
.config/xfce4/*
!.config/xfce4/help.rc
!.config/xfce4/helpers.rc
!.config/xfce4/xfce4-notes.css
!.config/xfce4/xfce4-notes.gtkrc
!.config/xfce4/appfinder/
!.config/xfce4/panel/
.config/xfce4/panel/xfce4-notes*
!.config/xfce4/panel-bak/xfce4-notes*
!.config/xfce4/terminal/
!.config/xfce4/xfce-perchannel-xml/
.config/xfce4/xfce-perchannel-xml/*
!.config/xfce4/xfce-perchannel-xml/xfce4-keyboard-shortcuts.xml
!.config/xfce4/xfce-perchannel-xml/keyboards.xml
!.config/xfce4/xfce-perchannel-xml/keyboard-layout.xml
!.config/xfce4/xfce-perchannel-xml/xfce4-notifyd.xml
!.config/xfce4/xfce-perchannel-xml/xfce4-power-manager.xml
!.config/xfce4/xfce-perchannel-xml/xfwm4.xml
!.config/xfce4/xfce-perchannel-xml/xfce4-appfinder.xml
!.config/xfce4/xfce-perchannel-xml/xfce4-screensaver.xml