[General]
Show_Title=false
Show_Labels=false
Use_Bar_UI=1
Show_Colored_Bars=true
Scale=0
str_fontsize=medium
val_fontsize=2
Font=Sans 11
Lines_Size=1
Cover_All_Panel_Rows=false
Update_Interval=30
Exec_Command=true
Show_Units=false
Small_Spacings=true
Command_Name=xfce4-sensors
Number_Chips=6
Suppress_Hddtemp_Message=false
Suppress_Tooltip=false
Preferred_Width=405
Preferred_Height=542
Tachos_ColorValue=0.80
Tachos_Alpha=0.80

[Chip0]
Name=k10temp-c3
Number=0

[Chip0_Feature0]
Address=0
Name=Tctl
Color=#00B000
Show=true
Min=0.00
Max=80.00

[Chip1]
Name=nvme-900
Number=1

[Chip2]
Name=amdgpu-4200
Number=2

[Chip3]
Name=k10temp-cb
Number=3

[Chip3_Feature0]
Address=0
Name=Tctl
Color=#00B000
Show=true
Min=0.00
Max=80.00

[Chip4]
Name=nvme-4100
Number=4

[Chip5]
Name=ACPI
Number=5

